body{
    background-image: url('https://www.desktopbackground.org/p/2010/05/12/16391_wallpaper-minimalist-desktop-wallpapers-minimalistic-1800381_1920x1200_h.jpg')  ;
    font-family: Ubuntu;
    color: white;
  }
  
  .menu{
    background-color: white;
    
  }
  a{
    text-decoration: none;
    color: red;
  }
  
  a:hover{
    text-decoration: underline;
    
  }
  
  .site-subtitle,
  .site-title{
    color: whitesmoke;
    text-align: center;
    }
  .site-subtitle{
    font-style: italic;
  }
  
  .menu ul{
    display: flex;
    justify-content: space-around;
  }
  
  .menu li{
    list-style: none;
  }